/*Fonts*/
@font-face {
  font-family: mont;
  src: url("fonts/mont-extralight.otf");
  font-weight: normal;
}
@font-face {
  font-family: mont;
  src: url("fonts/mont-heavy.otf");
  font-weight: bold;
}
@font-face {
  font-family: notoserif;
  src: url("fonts/notoserif-regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: notoserif;
  src: url("fonts/notoserif-italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: notoserif;
  src: url("fonts/notoserif-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: notoserif;
  src: url("fonts/notoserif-bolditalic.ttf");
  font-weight: bold;
  font-style: italic;
}
/*************/
/*Animation Keyframes*/
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*************/
/*CSS*/
.row {
  margin: 0px;
}
.container-fluid {
  padding: 0px;
}
.pad0 {
  padding: 0px;
}
.pad5 {
  padding: 5px;
}
.padTop5 {
  padding-top: 5px;
}
.padTop20 {
  padding-top: 20px;
}
.padLeft10 {
  padding-left: 10px;
}
.padLeft15 {
  padding-left: 15px;
}
.padLeft30 {
  padding-left: 30px;
}
.padLeft40 {
  padding-left: 40px;
}
.padRight5 {
  padding-right: 5px;
}
.padRight30 {
  padding-right: 30px;
}
.margin20 {
  margin: 20px;
}
.fontMont {
  font-family: mont;
}
.fontNotoserif {
  font-family: notoserif;
}
.fontCrimson {
  color: #ca4444;
}
.fontDark {
  color: #565656;
}
.fontWhite {
  color: #fff;
}
.txtJustify {
  text-align: justify;
}
body {
  background-color: #000000;
}
.section {
  min-height: 100vh;
  position: relative;
}
.sectionHome {
  z-index: 1;
}
.bgimg {
  width: 100vw;
  height: 100vh;
}
.sectionCareers {
  background-color: #fff;
  z-index: 3;
}
.sectionContact {
  background-color: #232323;
  min-height: 90vh;
  z-index: 3;
}
.flexBox {
  display: flex;
}
.inline {
  display: inline;
}
.hangarTitle {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  max-width: 340px;
  min-width: 250px;
  width: 30vw;
  top: 80px;
}
.navbarIcon {
  min-width: 75px;
  max-width: 100px;
}
.titleRow {
  top: 20vh;
  position: absolute;
}
.subtitleRow {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 2.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  position: absolute;
  bottom: 30vh;
  text-align: center;
  font-size: 1.3em;
}
.separator {
  width: 100vw;
  height: 15px;
  background: #000;
  bottom:0px;
  position: absolute;
  z-index: 2;
}
.footer {
  background-color: #000;
  width: 100vw;
}
.contactContainer {
  width: 60px;
}
.contactIcon {
  width: 18px;
  height:15px;
  margin: 4px;
}
.mailIcon {
  width: 20px;
  height: 13px;
  padding-top: 0px;
  margin-bottom: 2px;
}
.inIcon {
  width: 15px;
  margin-top: 5px;
}
.copyrightContainer {
  font-size: 0.7em;
  text-align: center;
}
.heading {
  font-weight: bold;
}
span.jobTitle {
  font-size: 1.5em;
}
.desktopInline {
  display: none;
}
.descriptionSkillset {
  padding-top: 5px;
}
.addressContainer {
  padding-top: 15px;
  text-align: left;
  font-size: 0.7em;
  line-height: 5px;
  padding-left: 30px;
}
@media only screen and (min-width: 768px) {
  .desktopInline {
    display: inline;
  }
  .descriptionSkillset {
    padding-top: 0px;
    border-left: 1px dotted #ca4444;
    padding-left: 20px;
  }
  .addressContainer {
    border-left: solid 1px #fff;
  }
  .subtitleRow {
    bottom: 33vh;
  }
}
.lensBlock {
  vertical-align: middle;
  padding-bottom: 5px;
}
.lens {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.searchtxt {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  color: #4e4e4e;
  min-width: 40vw;
}
.labelJobcode {
  border-left: 1px solid #ca4444;
  padding-left: 10px;
  margin-left: 10px;
}
/*************/